.khungAnh {
    overflow: hidden;
    position: relative;
    img {
        @include objectFit(cover);
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%, -50%);
        min-height: 100%;
        max-height: 100%;
    }
    /*hình chữ nhật_ngang*/
    &.img16And9 {
        padding-top: 56%;
    }
    /*hình vuông */
    &.imgSquare {
        padding-top: 100%;
    }
    /*hình chữ nhật_dọc*/
    &.img9And16 {
        padding-top: 177%;
    }
    &.img4And3 {
        padding-top: 75%;
    }
}