/*color*/

$color_1: #fff;
$color_2: #262626;
$color_3: rgb(119, 119, 119);
$color_4:rgba(255, 255, 255, 0);
$color_chudao:rgba(226, 87, 76, 1);
$color_chudao2: #f5f4ef;
$color_price: #666;

/*width_box(left-right)*/

$width_boxLR:18.125rem;

/*my_font*/

$my_font: Josefin Sans;
$size_font:.875rem;

/*border_heading*/

$border_head: 1px solid #e5e7ea;

/*border_activity*/

$border_active: 2px solid #ff6348;

/*megamenu*/

$border_mega: 1px solid #d8d8d8;
$nen_mega: #fff;
$max_width_mega:71.25rem;

/*Khoang cach cac section*/

$margin_section:80px;
$padding_section:80px;
$my_line_height: 1.25;