.reviews {
    margin-top: $margin_section;
    background-color: rgba(220, 220, 220, 0.3);
    @include ipad {
        margin-top: 0;
    }
    @include moblie {
        margin-top: 0;
    }
    @include moblie_sm {
        margin-top: 0;
    }
    .reviews_Main {
        padding: $padding_section 0;
        @include ipad {
            padding: 20px 0;
        }
        @include moblie {
            padding: 20px 0;
        }
        @include moblie_sm {
            padding: 20px 0;
        }
        .reviews_title {
            width: 70% !important;
            @include title_section;
            @include ipad {
                width: 90% !important;
            }
            @include moblie {
                width: 100% !important;
            }
            @include moblie_sm {
                width: 100% !important;
            }
            h2 {
                @include ipad {
                    font-size: 22px;
                }
                @include moblie {
                    font-size: 18px;
                }
                @include moblie_sm {
                    font-size: 18px;
                }
            }
        }
        .reviews_people {
            margin-top: 70px;
            @include ipad {
                margin-top: 20px;
            }
            @include moblie {
                margin-top: 15px;
            }
            @include moblie_sm {
                margin-top: 15px;
            }
            .people_item {
                font-family: $my_font;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                @include ipad {
                    margin: 15px 0;
                }
                @include moblie {
                    margin: 15px 0;
                }
                @include moblie_sm {
                    margin: 15px 0;
                }
                .avatar {
                    border-radius: 50%;
                    width: 4em;
                    height: 4em;
                    border: 33px solid $color_chudao;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        position: absolute;
                        border-radius: 50%;
                        width: 3.9em;
                        height: 3.9em;
                    }
                }
                .people_comment {
                    color: $color_3;
                    font-style: italic;
                    width: 75%;
                    font-size: 16px;
                    margin: 20px 0;
                    @include ipad {
                        width: 100%;
                        margin: 10px 0;
                    }
                    @include moblie {
                        width: 100%;
                        margin: 10px 0;
                    }
                    @include moblie_sm {
                        width: 100%;
                    }
                    p {
                        margin-bottom: 0;
                    }
                }
                .people_name {
                    font-weight: 600;
                    color: $color_chudao;
                    font-size: 22px;
                    margin-bottom: 0;
                }
                .people_job {
                    color: $color_3;
                    font-size: 14px;
                    font-weight: 550;
                    @include ipad {
                        margin-bottom: 0;
                    }
                    @include moblie {
                        margin-bottom: 0;
                    }
                    @include moblie_sm {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}