.faq {
    .faq_Main {
        padding: $padding_section 0;
        @include ipad {
            padding: 20px 0;
        }
        @include moblie {
            padding: 20px 0;
        }
        @include moblie_sm {
            padding: 20px 0;
        }
        .faq_title {
            @include title_section;
            @include ipad {
                width: 90%;
            }
            @include moblie {
                width: 90%;
            }
            @include moblie_sm {
                width: 100%;
            }
            h2 {
                @include ipad {
                    font-size: 22px;
                }
                @include moblie {
                    font-size: 18px;
                }
                @include moblie_sm {
                    font-size: 18px;
                }
            }
        }
        .faq_question {
            margin-top: 50px;
            @include ipad {
                margin: 25px 0;
            }
            @include moblie {
                margin: 15px 0;
            }
            @include moblie_sm {
                margin: 15px 0;
            }
            .question_rp {
                @include ipad {
                    width: 50%;
                }
                @include moblie {
                    width: 100%;
                }
                @include moblie_sm {
                    width: 100%;
                }
            }
            .question_item {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 15px;
                @include ipad {
                    margin-bottom: 15px;
                }
                @include moblie {
                    margin-bottom: 15px;
                }
                @include moblie_sm {
                    margin-bottom: 15px;
                }
                .question_title {
                    font-family: $my_font;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    span {
                        font-size: 36px;
                        color: $color_chudao;
                        margin-right: 10px;
                        @include moblie {
                            font-size: 36px;
                        }
                        @include moblie {
                            font-size: 32px;
                        }
                        @include moblie_sm {
                            font-size: 32px;
                        }
                    }
                    h4 {
                        font-weight: bolder;
                        color: $color_2;
                        margin-bottom: 0;
                        @include ipad {
                            font-size: 22px;
                        }
                        @include moblie {
                            font-size: 18px;
                        }
                        @include moblie_sm {
                            font-size: 18px;
                        }
                    }
                }
                .question_content {
                    font-family: $my_font;
                    color: $color_3;
                    font-size: 14px;
                    width: 85%;
                    @include ipad {
                        width: 100%;
                    }
                    @include moblie {
                        width: 100%;
                    }
                    @include moblie_sm {
                        width: 100%;
                    }
                    p {
                        @include ipad {
                            font-size: 14px;
                            margin-bottom: 0;
                        }
                        @include moblie {
                            font-size: 14px;
                            margin-bottom: 0;
                        }
                        @include moblie_sm {
                            font-size: 14px;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}