/* variables*/

@import './abstracts/variables';

/* minxins*/

@import './abstracts/mixins';

/* functions*/

@import './abstracts/functions';

/*------------------------------------------------------------------------*/

body {
    margin: 0;
}

@font-face {
    font-family: $my_font;
    src: url(/assets/font/Josefin_Sans_normal.woff2);
}


/*components*/

@import './components/menu';
@import './components/header';
@import './components/footer';
@import './components/khungAnh';
@import './components/effect';

/*layout*/

@import './layout/section_list_logo';
@import './layout/section_out_services';
@import './layout/section_looking';
@import './layout/section_what_we_do';
@import './layout/section_Sabil_landing_page';
@import './layout/section_Sabil_one_page';
@import './layout/section_reviews';
@import './layout/section_pricing';
@import './layout/section_Sabil_agency';
@import './layout/section_faq';
@import './layout/section_Sabil_video';
@import './layout/section_contact';
@import './layout/section_map';

/*pages*/